* {
    margin: 0;
    padding: 0;
}

@font-face {
    src: url(../fonts/NarrowBold.ttf);
    font-family: 'NarrowBold';
}

p, a, h1, span {
    font-family: 'NarrowBold';
}

.container {
    display: flex;
}

.header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #009B95;;
}

.header__burger {
    cursor: pointer;
    padding: 0 15px;
}

.header__settings{
    cursor: pointer;
    padding: 0 15px;    
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #000;
}

.chat-name__text {
    p {
        color: #fff;
    }
}

.contacts__side-bar {
    min-width: 175px;
    background-color: #006561;
    height: calc(100vh - 50px);
    width: 25%;
    overflow: hidden;
    transition: 0.3s;
    z-index: 99;
    &:hover {
        box-shadow: 3px 0px 6px 0px rgba(0,0,0,0.52);
    }
}

.side-bar__item {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5px;
    border-bottom: 1px solid #FF5C00;
    transition: 0.3s;    
    &:hover {
        background-color: #FF5C00;
        transition: 0.3s;
    }
}

.item__avatar {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0 5px;
}

.item__prew {
    width: 100%;
    min-width: 10px;
    p {
        color: #fff;
        white-space: nowrap;
    }
    .prew__msg {
        font-size: 14px;
        color: #cecece;
    }
}

.chat__send-messege {
    background: #fff;
    height: 75px;
    width: 100%;
}

.chat__history {
    overflow: auto;
    height: calc(100vh - 75px);    
    background-color: #5FD3B3
}


.send-messege__form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-msg {
    width: 70%;
    height: 35px;
    padding: 5px;
    border: 2px solid #009B95;
    border-radius: 5px;
    color: #006561;
}

.send-msg__button {
    background-image: url(../img/send.png);
    height: 35px;
    width: 35px;
    margin-left: 10px;
    background-position: center center;
    border: none;
    background-color: #009B95;
    border-radius: 5px;
}

.history__container {
    width: 80%;
    margin: 0 auto;
    min-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.history__item {
    display: flex;
    align-items: center;
    max-width: 450px;
    margin: 10px 5px;
    p {
        max-width: 420px;
        background-color: #006561;
        display: inline-block;
        color: #fff;
        border-radius: 5px;
        padding: 10px;
    }
}

.partner-msg {
    align-self: flex-start;    
    &:before {
        content: '';
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: inline-block;
        background-image: url(../img/avatar.jpg);
        margin-right: 5px;
    }


}

.my-msg {
    align-self: flex-end;
    &:after {
        content: '';        
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: inline-block;
        background-image: url(../img/avatar.jpg);
        margin-left: 5px;
    }
}

.side-bar__hide {
    transition: 0.3s;
    .item__prew {
        display: none;
        transition-property: opacity;
        transition-duration: 3s;
        opacity: 0;
    }

}

.contacts__hide {
    min-width: 50px;    
}

@media (max-width: 768px) {
    .contacts__hide {
        display: none;
    }

    .side-bar__hide {
        display: none;
    }

    .contacts__side-bar {
        min-width: 50px;
        width: 20%;
    }

    .item__prew {
        display: none;
    }

    .history__container {
        width: auto;
    }

    .history__item {
        p {
            max-width: 300px;
        }
    }
}

@media (max-width: 480px) {
    .history__item {
        p {
            max-width: 165px;
        }
    }
}